header {
    // display: flex;non lo prende

   justify-content: space-between;
   background-color: rgb(21, 21, 94);
   color: white;
   align-items: center;
   div {
       margin: 10px;
       display: flex;
    }
   a {
        margin: 10px;
        font-size: 24px;
    }
    h1 {
        padding: 5px 10px;
    }
    h2 {
        padding: 5px;
        display: inline-block;
    }
}

