@import '~@fortawesome/fontawesome-free/css/all.css';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'header';
@import 'posts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header {
    display: flex;
}
.container {
    width: 50%;
    margin: 0 auto;
    h1 {
        text-align: center;
        margin: 20px auto;
    }
}
.form-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    h2 {
        margin: 20px auto 0;
    }
    form {
        margin: 40px auto;
        label {
            text-align: right;
            padding: 5px;
            width: 18%;
        }
        input, textarea {
            width: 80%
        }
        .btn-info {
            width: 150px;
            text-align: center;
         
        }
        .categ-tag-container {
            display: flex;
            justify-content: space-evenly;
            margin: 20px 0;
            label {
                width: 50%;
            }
            .tags-box {
                border: 1px solid blueviolet;
            }

           .checkbox {
                width: 10px;
            
            }
            .tag-name {
                display: inline-block;
                width: 100px;
            } 
        }
        
    }
}
